.count-right.ml-auto img {
    width: 60px;
    height: 60px;
}

.count-section .card {
    border: 0;
    border-radius: 7px;
}

.count-section .card .card-header {
    border-radius: 7px 7px 0 0;
    background: #fff;
}

.count-section {
    margin-top: -70px;
}

@media (min-width: 992px)  {
    .count-section .card .card-body {
        margin-left: 30px;
    }
    .count-section .card .card-body {
        margin-right: 30px;
    }
}

/* table */
.count-table h5 {
    padding-top: 20px;
    text-align: center;
}

.count-table .card {
    margin: 20px;
}

.count-table .card .card-body .table-responsive {
    max-height: 450px !important;
}

/* count contry */
.count-country-section .card {
    border-radius: 7px;
    border: none;
}

.count-country-section .table-responsive {
    max-height: 600px;
}