@import "./count-section.css";
@import "./spread-section.css";
@import "./prevent-section.css";

body {
    background: #f1f1f9 !important;
}

.bg-f9 {
    background: #f9fcff;
}

.jumbotron {
    background-image: url(../images/bg_banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0;
    color: #fff;
}

footer {
    background: white;
}